node_modules
.env
npm-debug.log
yarn-error.log
remappings.txt
Metadata
log.txt
index.html

# Foundry
out
cache_forge
broadcast

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
